<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>Selamat Datang di Blog Saya</h1>
        <a href="http://127.0.0.1:5000/biodata">Biodata</a><br>
        <a href="http://127.0.0.1:5000/pendidikan">pendidikan</a><br>
        <a href="http://127.0.0.1:5000/pengalaman">Pengalaman</a><br>
        <a href="http://127.0.0.1:5000/keterampilan">keterampilan</a><br>
        <a href="http://127.0.0.1:5000/kontak">Kontak</a><br>
        <a href="http://127.0.0.1:5000/fibonacci">fibonacci</a><br>
        <a href="http://127.0.0.1:5000/csv">csv to JSON</a><br>
        <a href="http://127.0.0.1:5000/form">form</a>

        <h2>Hai, Saya Ahnaf Umar</h2>
        <p>Saya adalah mahasiswa yang tertarik pada bidang teknologi dan pengembangan web.</p>
    </body>
</html>