<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>keterampilan</h1>
        <h3>Hard Skill</h3>
        <ul>
            <li>SQL</li>
            <li>Python</li>
            <li>HTML</li>
            <li>Microsoft office</li>
        </ul>
        <h3>Soft Skill</h3>
        <ul>
            <li>managemen waktu</li>
            <li>Kemauan Tinggi untuk tumbuh</li>
            <li>mampu beradaptas</li>
        </ul>
        <a href="http://127.0.0.1:5000">kembali</a>
    </body>
</html>